<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ac.kr.kopo.HanaInsureFit.insurance.dao.InsuMapper">
    <!-- 회원 전체 조회 -->
    <select id="getAllInsu" resultType="ac.kr.kopo.HanaInsureFit.insurance.vo.Insurance">
        SELECT *
        FROM GradeInsurance
    </select>
    <!-- 로그인 -->
    <select id="getOneInsu" resultType="ac.kr.kopo.HanaInsureFit.insurance.vo.Insurance">
        SELECT *
        FROM GradeInsurance
        where insuranceProductNumber = #{insuranceProductNumber}
    </select>

    <select id="getInsuSpecial" resultType="ac.kr.kopo.HanaInsureFit.insurance.vo.specialAgree">
        select *
        from SpecialAgreements
    </select>

    <insert id="insertInsu" parameterType="HashMap">
        INSERT INTO customerInusMapping (CUSTOMERID, INSURANCESTARTDATE, INSURANCEENDDATE, INSURANCEPRODUCTNUMBER)
        VALUES (
                   #{customerID},
                   TO_CHAR(SYSDATE, 'YYYY-MM-DD'),
                   TO_CHAR(ADD_MONTHS(SYSDATE, 12 * 20), 'YYYY-MM-DD'),
                   #{insuranceProductNumber}
               )
    </insert>

    <select id="insuByCustID" parameterType="String" resultType="ac.kr.kopo.HanaInsureFit.insurance.vo.insuNum">
        select INSURANCEPRODUCTNUMBER
        from customerInusMapping
        where customerid = #{customerID}
    </select>

    <insert id="insertInsuMapping">
        MERGE INTO specialInsuMapping s
            USING (SELECT #{customerID} AS customerID FROM dual) d
            ON (s.customerID = d.customerID)
            WHEN MATCHED THEN
                UPDATE SET s.insuFee = #{insuFee}, s.selectedInsurances = #{selectedInsurances}
            WHEN NOT MATCHED THEN
                INSERT (insuFee, selectedInsurances, customerID)
                    VALUES (#{insuFee}, #{selectedInsurances}, #{customerID})
    </insert>

<select id="insuByCustIDList" resultType="ac.kr.kopo.HanaInsureFit.insurance.vo.insuByCustID">
    SELECT
    a.INSURANCEPRODUCTNUMBER,
    a.INSURANCECOMPANYCODE,
    a.INSURANCEPRODUCTNAME,
    a.INSURANCEFEE,
    a.INSURANCECOMPANYNAME,
    a.INSUCONTENT,
    a.MINAGEATREGISTRATION,
    a.MAXAGEATREGISTRATION,
    b.CUSTOMERID,
    b.INSURANCESTARTDATE,
    b.INSURANCEENDDATE
    FROM
    GradeInsurance a
    JOIN
    customerInusMapping b
    ON
    a.INSURANCEPRODUCTNUMBER = #{insuranceProductNumber} AND
    b.CUSTOMERID = #{customerId}
    </select>

    <select id="getSpecialInsuMapping">
        select * from specialInsuMapping where customerID=#{customerID}
    </select>


    <select id="getPoint" resultType="ac.kr.kopo.HanaInsureFit.insurance.vo.PointTable">
        select * from PointTable where customerID = #{customerID}
    </select>

    <insert id="insertPointFood">
        INSERT INTO PointTable (CUSTOMERID, POINTS, USABLEPOINTS, TRANSACTIONDATE, DESCRIPTION)
        VALUES (#{customerID}, 50, COALESCE((SELECT USABLEPOINTS + 50 FROM PointTable WHERE CUSTOMERID = #{customerID}), 0), #{registrationDate}, '칼로리 맞춤 식사');
    </insert>

    <insert id="insertPointInbody">
        INSERT INTO PointTable (CUSTOMERID, POINTS, USABLEPOINTS, TRANSACTIONDATE, DESCRIPTION)
        VALUES (#{customerID}, 100, COALESCE((SELECT USABLEPOINTS + 100 FROM PointTable WHERE CUSTOMERID = #{customerID}), 0), #{registrationDate}, '인바디 기록 갱신');
    </insert>


</mapper>