<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ac.kr.kopo.HanaInsureFit.member.dao.MemberMapper">
    <!-- 회원 전체 조회 -->
    <select id="getAllInsu" resultType="ac.kr.kopo.HanaInsureFit.member.vo.Insurance">
        SELECT *
        FROM GradeInsurance
    </select>
    <!-- 로그인 -->
    <select id="getOneInsu" parameterType="String" resultType="ac.kr.kopo.HanaInsureFit.member.vo.Insurance">
        SELECT *
        FROM GradeInsurance
        where insuranceProductNumber = #{insuranceProductNumber}

    </select>

</mapper>

