<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ac.kr.kopo.HanaInsureFit.member.dao.MemberMapper">
    <!-- 회원 전체 조회 -->

    <insert id="insertInbodyInfo">

        INSERT INTO InbodyInfo (customerID, identifyNumber, height, weight, BMI, basalMetabolicRate, gender, checkDate)
        VALUES (
                   #{customerID},
                   #{identifyNum},
                   #{height},
                   #{weight},
                   #{bmi},
                   #{bmr},
                   #{gender},
                   TO_DATE(#{record_date}, 'yy/MM/dd')
               )
    </insert>

    <update id="updateInbodyInfo">
        UPDATE CustomerTargetDiet
        SET CALORIES = #{goalCalories}
        WHERE CUSTOMERID = #{customerID}
    </update>


    <select id="getAllMember" parameterType="ac.kr.kopo.HanaInsureFit.member.vo.Member"
            resultType="ac.kr.kopo.HanaInsureFit.member.vo.Member">
        SELECT *
        FROM HanaCustomer
    </select>
    <!-- 로그인 -->
    <select id="loginMember" parameterType="HashMap" resultType="ac.kr.kopo.HanaInsureFit.member.vo.Member">
        SELECT *
        FROM HanaCustomer
        where customerID = #{customerID}
          and password = #{password}
    </select>
    <select id="selectNameOfMember" parameterType="String" resultType="ac.kr.kopo.HanaInsureFit.member.vo.Member">
        SELECT *
        FROM HanaCustomer
        where customerID = #{customerID}
    </select>

    <select id="getGrade" resultType="int">
        select healthgrade from healthgrade where customerID = #{customerID}
    </select>

    <select id="getMyPageInfo" resultType="ac.kr.kopo.HanaInsureFit.member.vo.MyPageInfo">
        <![CDATA[
        SELECT *
        FROM (
        SELECT *
        FROM inbodyinfo h
        INNER JOIN healthgrade g ON h.CUSTOMERID = g.CUSTOMERID
        INNER JOIN CustomerTargetDiet d ON h.CUSTOMERID = d.CUSTOMERID
        WHERE h.CUSTOMERID = #{customerID}
        ORDER BY h.CHECKDATE ASC  -- 정렬 기준을 지정해주세요
        )
        WHERE ROWNUM <= 1
        ]]>
    </select>
    <select id="getMyPageInsu" resultType="ac.kr.kopo.HanaInsureFit.member.vo.MyPageInsu">
        SELECT
            C.CUSTOMERID,
            C.INSURANCESTARTDATE,
            C.INSURANCEENDDATE,
            C.INSURANCEPRODUCTNUMBER,
            I.INSURANCECOMPANYCODE,
            I.INSURANCEPRODUCTNAME,
            I.INSURANCEFEE,
            I.INSURANCECOMPANYNAME,
            I.INSUCONTENT,
            I.MINAGEATREGISTRATION,
            I.MAXAGEATREGISTRATION
        FROM customerInusMapping C
                 INNER JOIN gradeinsurance I ON C.INSURANCEPRODUCTNUMBER = I.INSURANCEPRODUCTNUMBER
        WHERE C.CUSTOMERID = #{customerID}
    </select>

    <select id="getUserGrade" resultType="ac.kr.kopo.HanaInsureFit.member.vo.UserGrade">
        select * from healthgrade where customerID=#{customerID}
    </select>

    <update id="regiGrade">
            MERGE INTO healthgrade hg
                USING dual d
                ON (hg.CUSTOMERID = #{customerID})
                WHEN MATCHED THEN
                    UPDATE SET hg.HEALTHGRADE = #{healthGrade}, hg.REGISTRATIONDATE = TO_DATE(SYSDATE, 'YY/MM/DD')
                WHEN NOT MATCHED THEN
                    INSERT (GRADEID, CUSTOMERID, HEALTHGRADE, REGISTRATIONDATE)
                        VALUES (health_grade_sequence.NEXTVAL, #{customerID}, #{healthGrade}, TO_DATE(SYSDATE, 'YY/MM/DD'))
    </update>

</mapper>